{
	"extends": "airbnb-base",
	"rules": {
		"no-plusplus": "off",
		"keyword-spacing": ["error", {
      "overrides": {
        "if": {"after": false},
        "for": {"after": false},
        "while": {"after": false},
        "switch": {"after": false},
        "catch": {"after": false}
      }
    }]
	}
}
